<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.appwork.vipersingleviewapp</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Template Project untuk BoilerPlate VIPER Pattern.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict/>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>FirstRouter.swift</string>
						<string>FirstEntity.swift</string>
						<string>FirstVC.swift</string>
						<string>FirstProtocol.swift</string>
						<string>FirstInteractor.swift</string>
						<string>FirstPresenter.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>
/// Memanggil Router Pertama
window = UIWindow(frame: UIScreen.main.bounds)
window?.rootViewController = FirstRouter.createModule()
window?.makeKeyAndVisible()
        </string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>FirstRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstRouter.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>FirstProtocol.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstProtocol.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>FirstVC.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstVC.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>FirstEntity.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstEntity.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>FirstPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>FirstInteractor.swift</key>
		<dict>
			<key>Path</key>
			<string>FirstInteractor.swift</string>
			<key>Group</key>
			<array>
				<string>First</string>
			</array>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
